.card {
    position: relative;

    &.selected {
        border: 1px solid #007aff;
    }
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%;
    }
    .content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        align-items: flex-end;
        display: flex;
        padding: 16px !important;
    }
    .text {
        font-size: 12px;
    }
}
